body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

.PostsList {
    color: var(--inverted-primary-color);
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font: var(--font-l);
}

.Posts {
    Button {
        margin: 10px 0;
    }
}

.PostId {
    margin-bottom: 15px;
    font-size: var(--font-m);
    border-bottom: 1px solid var(--inverted-primary-color);
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}