.AlbumSinglePage {
    background-color: var(--inverted-bg-color);
    color: var(--secondary-color);
    font:var(--font-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}