body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

.PostsList {
    color: var(--inverted-primary-color);
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font: var(--font-l);
}

.Posts {
    Button {
        margin: 10px 0;
    }
}

.postsP {
    color: var(--secondary-color);
    padding: 15px;
    font: var(--font-m);
    text-align: center;
}