.InputDiv {
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
    align-items: center;
    font: var(--font-xl);
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--inverted-bg-color);
    margin: 0 auto;
    font: var(--font-l);
}