.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    --primary-button-color: #234b76;
    --secondary-button-color: #85929e;
    --inverted-primary-button-color: #e6b0aa;
    --inverted-secondary-button-color: #c0392b;
} 